<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta charset="UTF-8" />
  <meta name="description" content="RCE Playground" />
  <title>Playground</title>

  <link rel="stylesheet" href="https://unpkg.com/@primer/css/dist/primer.css" />
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='main.css') }}">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ansi_up@4.0.4/ansi_up.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/loader.min.js"></script>
</head>

<body>
  <article id="app" class="markdown-body h100">
    <div class="d-flex flex-row flex-justify-around h100">
      <div class="col-6 float-left p-6 h100">
        <div class="form-group d-flex flex-row flex-justify-between">
          <div class="d-flex flex-row">
            <select class="form-select" v-model="language" v-on:change="changeLanguage">
              {% raw %}
              <option v-for="option in languageOptions" v-bind:value="option">{{ option }}</option>
              {% endraw %}
            </select>

            <details class="details-reset position-relative ml-2 mb-0">
              <summary class="btn btn-outline" v-on:click="getDescription">info</summary>
              <div class="Popover right-0 left-0">
                <div
                  class="Popover-message Popover-message--large Popover-message--top-left p-4 mt-2 Box box-shadow-large"
                >
                  <description :result="descriptionResult"></description>
                </div>
              </div>
            </details>
          </div>

          <div class="d-flex flex-row">
            <copypg :status="copyStatus" :on-click="copyPlayground"></copypg>
            <button type="submit" class="btn btn-md btn-primary ml-2" v-on:click="run">Run</button>
          </div>
        </div>

        <!-- TODO: set this automatically -->
        <div id="playground" style="height: 90%"></div>
      </div>
      <div class="col-5 float-left m-6" id="output">
        <h1>Results</h1>
        <results :result="executionResult"></results>
      </div>
    </div>
  </article>
  <script>
    const DEFAULT_LANGUAGE = "{{ active_lang | safe }}";
    const LANGUAGE_BUFFERS = {{ lang_buffers | safe }};
    const DEFAULT_EXECUTION_RESULT = {{ execution_result | safe }};
  </script>
  <script src="{{ url_for('static',filename='main.js') }}"></script>
</body>
</html>
